#Moving{
    font-size: 30px;
    color:rgb(252, 151, 0);
    border-style:double;
    border-width: 10px;
    border-color:rgb(127, 252, 2); 
    border-radius: 20px 30px;
    text-shadow:7px 10px 6px rgb(234, 0, 255);
}
#bg{
    background-image: url('pexels-rodrigo-souza-2531546.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    transition-property: background-image;
    transition-duration: 2s;
}
#bg:hover
{
    background-image: url('balloons.jpg');
}
#box
{
    border-style:ridge;
    width: 1320px;
    height: 350px;
    position: relative;
    border-color:springgreen;
    border-width: 10px;
    border-radius:40px 30px 10px 15px ;
    left:90px;
    top: 50px;
    font-size: 50px;
    font-style: oblique;
    text-shadow: 5px 10px 6px red ;
    background-image: url('Happy-Birthday-GIF-HD-Text-Images.gif');
    background-color: linear-gradiant(rgba(0, 0, 0, 0.5), rgba(6, 152, 250, 0.5), yellow, green, red, violet, pink);
    background-size:contain;
    opacity: 0.8;
    filter:drop-shadow(10px 10px 5px rgb(0, 255, 179));
}
#photo
{
    position: relative;
    top: 735px;
    left: 580px;
}

#sentence
{
    border: 5px rgb(247, 0, 255);
    border-style: groove;
    border-radius: 20px;
    width: 700px;
    height: 615px;
    position: relative;
    left: 110px;
    bottom: 130px;
    font-style: italic;
    font-family:cursive;
}

#sd
{
    position: relative;
    left: 850px;
    top: -775px;
    filter:drop-shadow(10px 10px 5px rgb(0, 225, 255));
}

#last
{
    font-size: 30px;
    color:rgb(0, 252, 134);
    border-style:double;
    border-width: 10px;
    border-color:rgb(252, 102, 2); 
    border-radius: 20px 30px;
    text-shadow:7px 10px 6px rgb(255, 0, 119);
    position: relative;
    bottom: 500px;
}
}

